@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --main-color : #03045e;
    --primary-color : white;
    --gray : #E5E7EB;
    --secondary-color : #DBEAFE;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    max-width: 100%;
    height:auto;
}

hr{
    margin : 2rem 0rem;
}

/* containers */

.container{
    padding: 0rem 1rem;
}

.center-container{
    max-width: 600px;
    margin:auto;
}

/* Links */

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}

.link-primary{
    color : var(--primary-color);
    background-color:var(--main-color);
    border-radius: 0.5rem;
}

.link-secondary{
    color: var(--main-color);
    border : 1px solid;
    border-color:var(--main-color);
    border-radius: 0.5rem;
    font-weight: bold;
}

.non-bulleted-list{
    list-style: none;
}

.inline-list{
    display: inline;
}

/* navigation */

.navigation{
    background-color:
    var(--main-color);
    color :var(--primary-color);
    border-bottom-left-radius: 1rem;

}

.navigation .link{
    color: var(--primary-color);
}

.navigation .allign{
    text-align: right;
    padding: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    padding: 1rem;
    font-size: 1.1rem;
}

.navigation .link-active{
    font-weight: bold;
    font-size: 1.1rem;
}

/* header */

.hero{
    text-align: center;
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img{
    width : 300px;
    display: block;
    margin :auto;
}

.hero .hero-heading{
    padding-top:1rem;
    color:gray;    
}

.hero .single-highlight{
    color : var(--main-color);
}


/* sections */

.section{
    padding: 1rem;
}

.section h3{
    text-align: center;    
}

.ow{
    background-color: var(--secondary-color);
}

/* Footer */

.footer{
    padding: 2rem 1rem ;
    background-color:var(--main-color) ;
    text-align: center;
    color :var(--primary-color);
    border-top-right-radius: 1rem;
}

.footer-heading{
    font-weight: bold;
}



.footer .link{
    color : white
}

.footer ul{
    padding-inline-start: 0px;
}

ul{
    padding-inline-start :0px;
}











